/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
tests/.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.env
/public/js/prod
/public/coverage-report
/storage/coverage-report
/storage/cronlogs
/storage/db-backups
gc-local.json
gc-prod.json
/public/mix-manifest.json
/dev-services/rabbitmq/definitions-dev.json
