/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
tests/.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.env
.env.dev
/public/js/prod
/public/css/prod
/public/coverage-report
/storage/coverage-report
/storage/cronlogs
/storage/db-backups
gc-prod.json
gc-local.json
/public/mix-manifest.json
/dev-services/rabbitmq/definitions-local.json
/dev-services/mysql/init-local.sql
/dev-services/redis/redis-local.conf
env_vars_list_local.sh
env_vars_list_local.zip
/storage/logs/*
/resources/lang/*
