body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 20px;
}

h1 {
    color: #333333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

ul {
    padding: 0;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #007bff;
}

p {
    color: #dc3545;
    font-weight: bold;
    padding-left: 20px;
}
