.flashMessage {
    padding: 20px 10px;
    opacity: 0.9;
    z-index: 9999;
    margin: 10px 0 15px;
}

.flashMessage.success {
    background-color: #4CAF50;
    color: #fff;
}

.flashMessage.error {
    background-color: #f44336;
    color: #fff;
}
