body {
    overflow-y: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #191919;
    color: white;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 30px;
    text-align: center;
}

.button-container {
    display: flex;
}

button.adminBtn {
    background-color: dodgerblue;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
}

button#logout-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

.adminLink {
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    background-color: dodgerblue;
    display: none;
}
