body {
    overflow-y: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #191919;
    color: white;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

h1 {
    font-size: 20px;
}

button#logout-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    font-size: 16px;
}
